<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="Customiz.Properties.Settings.Studying_plansConnectionString"
            connectionString="Data Source=iidflenovo\sqlexpress;Initial Catalog=&quot;Studying plans&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
        <add name="Customiz.Properties.Settings.Studying_planssConnectionString"
            connectionString="Data Source=iidflenovo\SQLEXPRESS;Initial Catalog=&quot;Studying planss&quot;;Integrated Security=True;TrustServerCertificate=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>